*, h1, h2, h3, h4, h5{
	font-family: 'Hanuman', serif;
}
body{
	background: white;
	font-size:16px !important;
	
}
a{
	color:black;
}

#mainNav{
	background:white;
	box-shadow: 0px 0px 5px 0px #d6cfcf;
}
.text-lang-menu{
	margin-left: -15px;
}
.navbar {
    padding: .5rem 1rem;
}
.bg-black{
	background:black;
}
.bg-lightgrey{
	background:lightgrey;
}
.cl-black{color:black;}
.cl-white{
	color:white;
}
.p-t-b-20{
	padding:20px 0px;
}
.font-menu{
	font-size:16px !important;
}
.m-l-0{
	margin-left: 0px;
}
.img-margin-l{
	margin-left: -20px;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button .btn-lang{
	padding-left: 1.071429em!important;
    padding-right: 0em!important;
	background: 0em !important ;
	margin-top: 0em;
	padding-top: 10px;
	/* margin-right: -15px; */
}
.btn-search{
	background-color: #090808;
    border-color: #f05f40;
	border-radius: 5px;
	padding: 12px;
	width:100%;
}

.bg-darkgrey{
	background-color: #bcbcbc!important;
}
.f-search{
	/* border:2px solid black; */
	padding: 20px 0px;
	background: white;
	width: 100%;
	/* box-shadow: 0px 0px 5px 0px #d6cfcf; */
}
.bg-header{
	background-color: #5b5857!important;
	background-image: url(img/header.jpg) !important;;
}


/* Job List */


.job-item:hover{
	box-shadow: 0px 0px 5px 0px black;
}
.m-b-10{
	margin-bottom: 20px!important;

}
.title-heading-item{
	font-size: 20px;
	font-weight: bold;
}
.bo-1-black{
	border: 1px solid #f7f7f7;
}
.b-b-1{
	border-bottom:1px solid gainsboro;
}
.b-t-1{
	border-top:1px solid gainsboro;
}
.col-red{
	color: red;
}
.m-b-5{
	margin-bottom: 10px!important;
}















	@media (min-width: 992px){

	#mainNav.navbar-shrink .navbar-brand {
		    color: #777;
	}
	#mainNav .navbar-brand {
		    color: #777;
	}

	#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
		    color: #777;

}
	#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
		    color: #777;
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
		color: black !important;
		background-color: transparent;
	}
}



/* Responsive */

@media (max-width:767px) {
	.p-f-search{
		padding-top: 10px;
	}
  }

  @media (min-width: 992px){
	header.masthead {
    height: 23vh;
	min-height: 350px;
    padding-top: 0;
    padding-bottom: 0;
}
}
@media (max-width: 578px){
	.m-b-10{
		margin-bottom: 20px!important;
		text-align: center;
	}
	.m-b-5{
		margin-bottom: 10px!important;
	}
}